.main-layout {
  .ant-layout {
    .ant-layout-header {
      .logo {
        height: 50px;
        padding: 8px 0px;
      }
    }

    .site-layout {
      padding: 0px 20px;
      margin-top: 64px;

      .site-layout-background {
        min-height: 380px;
      }
    }

    .custom-footer {
      background: #fff;
      color: #1890ff;
      font-size: 15px;

      a {
        color: #1890ff;

        &:hover,
        &:focus {
          opacity: 0.6;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ant-layout-header {
    padding: 0 15px !important;
  }
}
