.footer-top {
  padding: 20px 48px;

  .logo {
    height: 50px;
    padding: 8px 0;
  }
  .logo-text {
    padding-top: 10px;
    text-align: justify;
  }
  .footer-quick-links {
    flex-flow: column;
    text-align: center;
    padding-top: 10px;
  }
}

.footer-box {
  margin-top: 32px;
  background-color: #f8f8f8;
  justify-content: center;
  padding: 10px;
}
