.header-container {
  background: #ffffff;
  box-shadow: 0 2px 26px #ffecec85;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 66px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;

  .default-nav-item {
    color: #4b5563 !important;
  }

  .active-nav-item {
    color: #1890ff !important;
  }
}
