/* Here we have to define our global css which is same for entire project. */
.ant-layout-header {
  background: white !important;
}

.ant-menu-horizontal {
  border: none;
  border-bottom: none !important;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
}

.ant-menu-overflow {
  display: block !important;
}

.ant-layout-footer {
  text-align: center !important;
  padding: 0 !important;
}

.ant-form-item {
  margin-bottom: 16px !important;
}

.ant-picker {
  width: 100% !important;
}
