.font-bold {
  font-weight: bold !important;
}
.font-16px {
  font-size: 16px !important;
}
.gray-font {
  color: #4b5563 !important;
}
.blue-font {
  color: #1890ff !important;
}
.font-12px {
  font-size: 12px !important;
}
